body {
  font-family: Arial, monospace;
  padding: 0.5rem;
}
a {
  text-decoration: none;
  color: #226cd7;
}
a:hover {
  text-decoration-line: underline;
}
#header {
  color: #444;
  font-size: 18px;
  margin: 15px;
}
#content {
  font-size: 14px;
  margin: 15px;
  text-align: justify;
}
h1 {
  white-space: nowrap;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
}
h2 {
  white-space: nowrap;
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: none;
  pointer-events: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  background: rgba(255, 255, 255, 0.7);
}
input[type="file"] {margin-bottom: 10px;}

#asciiResult {
  line-height: 0.9;
  letter-spacing: 1px;
  font-size: 8px;
  margin-top: 2rem;
  margin-left: -1rem;
  font-family: monospace;
  white-space: pre;
  overflow-wrap: break-word;
  text-align: justify;
  -moz-text-align-last: center;
       text-align-last: center;
}
#sharpness, #blur {
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
  accent-color: #484848;
}
#blur {
  margin-left: 15px;
}

#downloadIMG {
  margin-top: 20px;
  margin-bottom: -10px;
  display: none;
}
#message {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;  
  padding: 0.5rem;
  display: block;
  font-size: 14px;
  text-align: center;
  text-shadow: 0 0 1px #bebebe;
}
#about {
  margin: 0 -1rem 1rem;
  padding: 0.5rem;
  padding-top: 20px;
  display: block;
  background: #F5F6F8;
}
#icSize {
  transform: translateY(-2px);
  margin: 0px 5px;
}
/* Input Range */
#maxWidthInput {
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
  margin: 0 0.5rem;
}
#inputRange {
  width: auto;
  margin: 10px auto;
}
input[type="range"] {
  width: auto;
  -webkit-appearance: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 3px;
  background: #484848;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: solid 3px #484848;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: white;
  margin-top: -6.5px;
  cursor: pointer;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #484848;
}

/* Loader */
.loader {
  width: 100%;
  height: 100%;
  left: 50%;
  display: block;
}
.loader span {
  display: inline-flex;
  margin: 0 -2px;  
  height: 100%;
}
.loader span {
  -webkit-animation-name: loading;
         animation-name: loading;
  -webkit-animation-duration: 1.5s;
         animation-duration: 1.5s;
         animation-play-state: running;
  -webkit-animation-iteration-count: infinite;
         animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
         animation-fill-mode: both;
}
.loader span:nth-of-type(2) {-webkit-animation-delay: 0.2s;animation-delay: 0.2s;}
.loader span:nth-of-type(3) {-webkit-animation-delay: 0.4s;animation-delay: 0.4s;}
.loader span:nth-of-type(4) {-webkit-animation-delay: 0.6s;animation-delay: 0.6s;}
.loader span:nth-of-type(5) {-webkit-animation-delay: 0.8s;animation-delay: 0.8s;}
.loader span:nth-of-type(6) {-webkit-animation-delay: 1s;animation-delay: 1s;}
.loader span:nth-of-type(7) {-webkit-animation-delay: 1.2s;animation-delay: 1.2s;}
@-webkit-keyframes loading {
  0% {transform: scale(1);}
  50% {transform: scale(0.5);}
  100% {transform: scale(1);}
}
@keyframes loading {
  0% {transform: scale(1);}
  50% {transform: scale(0.5);}
  100% {transform: scale(1);}
  }
